{% extends 'base.html.twig' %}

{% block title %}Edit
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<div class="container">
		{% if escapeGame.id == null %}
			<h1>Create an escape game</h1>
		{% else %}
			<h1>Edit -
				{{ escapeGame.titre}}</h1>
		{% endif %}
		<div class="mb-3">
			You are connected as
			{{ app.user.username }}
			<a href="{{ path('app_backoffice_logout') }}">Logout</a>
		</div>


		{{ form_start(form) }}
		<div class="form-error invalid-feedback">
			{{ form_errors(form) }}
		</div>
		<div class="form-group">
			{{ form_label(form.titre) }}
			{{ form_widget(form.titre) }}
		</div>
		<div class="form-group">
			{{ form_label(form.titreFR) }}
			{{ form_widget(form.titreFR) }}
		</div>
		<div class="form-group">
			{{ form_label(form.titreDE) }}
			{{ form_widget(form.titreDE) }}
		</div>
		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
		</div>
		<div class="form-group">
			{{ form_label(form.descriptionFR) }}
			{{ form_widget(form.descriptionFR) }}
		</div>
		<div class="form-group">
			{{ form_label(form.descriptionDE) }}
			{{ form_widget(form.descriptionDE) }}
		</div>
		<div class="form-group">
			{{ form_label(form.image) }}
			{{ form_widget(form.image) }}
		</div>
		<div class="form-group">
			{{ form_label(form.duree) }}
			{{ form_widget(form.duree) }}
		</div>
		<div class="form-group">
			{{ form_label(form.nombreJoueursMax) }}
			{{ form_widget(form.nombreJoueursMax) }}
		</div>
		<div class="form-group">
			{{ form_label(form.prix) }}
			{{ form_widget(form.prix) }}
		</div>

		{{ form_end(form) }}


	{% endblock %}

	{% block footer %}{% endblock %}
