{% extends 'base.html.twig' %}

{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
    <main>
        <h1 style="color: #ffae00">FAQ</h1>
        <div class="faq-view">
            {% for faq in faqs %}
                <h2 style="color: #ffae00">{{ faq.question }}</h2>
                <p>{{ faq.answer }}</p>
            {% endfor %}
            <div class="faq-more">
                <h3 style="color: #ffae00">{{ 'in_case_which_you'|trans }}</h3>
                <a href="{{ path('app_contact', {'lang': app.request.get('lang')}) }}" class="button">{{ 'click_here'|trans }}</a>
            </div>
        </div>
        <div class="wave" style="top: 5vh"></div>
    </main>

{% endblock %}
