{% extends 'base.html.twig' %}

{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
    <main>
        <h1 style="color: #ffae00">{{ 'gift_card'|trans }}</h1>
        <div class="view-offer">
            <p class="text-offer">{{ 'looking_for_the_perfect'|trans }}</p>
            <div class="sts-giftcard">
                <img src="/img/offer-card.jpg" alt="">
                <form action="">
                    <h2 style="color: #ffae00">{{ 'insert_the_value_you'|trans }}</h2><br>
                    <input type="text" id="price" name="price" value=""><br>
                    <input type="submit" value="{{ 'buy_now'|trans }}">
                </form>
            </div>
            <p class="text-offer">{{ 'our_gift_cards_are'|trans }}</p>
            <div class="wave" style="top: 5vh"></div>
        </div>
    </main>
{% endblock %}
