<header>
	<a href='{{ path('app_accueil') }}'><img src='/img/kaiserstuhl_escape_logo.png'></a>
	<div class='header-right'>
		<a class='lien' href='{{ path('app_adventure') }}'>OUR ADVENTURE</a>
		<a class='lien' href='{{ path('app_offers') }}'>GIFT CARD</a>
		<a class='lien' href='{{ path('app_faq') }}'>FAQ</a>
		<a class='lien' href='{{ path('app_contact') }}'>CONTACT</a>
	</div>
	<div>
		<a href="{{ path('app_accueil', {'lang': 'fr'}) }}"><img class="flag" src="/img/France_flag.png" alt=""></a>
		<a href="{{ path('app_accueil', {'lang': 'en'}) }}"><img class="flag" src="/img/UK_flag.png" alt=""></a>
		<a href="{{ path('app_accueil', {'lang': 'de'}) }}"><img class="flag" src="/img/German_flag.png" alt=""></a>


	</div>

</header>
